.tabs {
    .tab-header-wrap {
        display: flex;
        padding: 0 1px;
    }

    .tab-header {
        padding: 8px 20px;
        font-weight: bold;
        transition: color 0.2s linear;

        &.active {
            box-shadow: 0 1px 0 #fff, 0 0 0 1px $c-border;
        }

        &:not(.active) {
            cursor: pointer;

            &:hover {
                color: $c-highlight;
            }
        }
    }

    .tab-content-wrap {
        border: 1px solid $c-border;
    }

    .tab-content {
        padding: 30px 20px;

        &:not(.active) {
            display: none;
        }
    }
}
.tab-hiden {
    overflow: hidden;
    min-width: 50vh;
    min-height: 50vh;
    z-index: 1;
    .drag-1 {
        position: relative;
        transform: translate(20px, 200px);
        .drag-item {


            z-index: -1;
            overflow: hidden;
            max-width: none;
            background-color: lawngreen;
        }
    }
}

@media (max-width: $mobile-max) {
    .tab-header-wrap {
        display: flex;
        flex-direction: column;
        max-width: 100vw;
        li {
            margin-bottom: 5px;
            border-bottom: 3px solid inherit;
            .active {
                background: #000;
            }
        }
    }
}
